# AWS S3 Compatible API (iwinv)
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=kr-standard
AWS_ENDPOINT=https://kr.object.iwinv.kr
AWS_BUCKET=file.minigrow.kr

# Server Config
PORT=8080
NODE_ENV=development
